<div th:replace="compartilhado/top"></div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Noticias</h1>
        <p class="mb-4">
            Aqui irá listar as noticias do sistema
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a href="/noticias/novo" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
                <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de Noticias</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <th>Texto</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <th>Texto</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr th:each="noticia : ${noticias}">
                                <td th:text="${noticia.id}"></td>
                                <td th:text="${noticia.titulo}"></td>
                                <td th:text="${noticia.texto}"></td>
                                <td><a th:href="@{'/noticias/' + ${noticia.id}}" class="btn btn-warning">Alterar</td>
                                <td><a href="#" th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \'' + @{/noticias/{id}(id=${noticia.id})} + '/excluir\' } '" class="btn btn-danger">Excluir</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>
